body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

.container{
    width: 80%;
    overflow:hidden;
    margin: auto;
}
header nav{
    float:right;
    margin-top:10px;
}
header #branding{
    float:left;
}
header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}
header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}
ul{
    margin:0;
    padding:0;
}
header #branding h1{
    margin:0;
}
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }
}