html{
  background-color: #b4dbb5;
}
.App {
  text-align: center;
}
.foods {
  text-align: center;
}
.column{
  text-align: center;
  margin-top: 10px;
}
.field{
  color: #1b6d85;
  margin: 10px;
  display: block;
  font-size:25px;

}
.card{
  border: 1px solid #eee;
  box-shadow: 4px 4px 4px #5b94cc;
  width: 400px;
  margin: 10px;
  margin-left: 35%;
}
button{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  margin: 10px;
}
input[type="submit"] {
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  margin: 10px;
}
input[type="text2"]{
  padding:4px;
  height:25px;
  width:150px;
  margin: 2px;
  margin-left: 15px;
  text-align: center;
}
input[type="text"]{
  padding:4px;
  height:15px;
  width:150px;
  margin: 2px;
  margin-left: 15px;
  text-align: center;
}
.header{
  margin: 5px;
  font-size:30px;
}
.cross{
  float: right;
  margin-right:10px;
  margin-top: 10px;
  cursor: pointer;
}
.cross:hover{
  color: coral;
}
.images{
  font-size: 30px;
  text-align: center;
  color: #5b94cc;
}
li{
  list-style-type: none;
}